<% if (success && success.length > 0) { %>
<div class="flash flash-success">
  <div class="flash-icon">
    <i class="fa-solid fa-circle-check"></i>
  </div>
  <span class="flash-text"><%= success %></span>
  <span class="flash-close" onclick="this.parentElement.remove()">
    <i class="fa-solid fa-xmark"></i>
  </span>
</div>
<% } %> <% if (error && error.length > 0) { %>
<div class="flash flash-error">
  <div class="flash-icon">
    <i class="fa-solid fa-circle-exclamation"></i>
  </div>
  <span class="flash-text"><%= error %></span>
  <span class="flash-close" onclick="this.parentElement.remove()">
    <i class="fa-solid fa-xmark"></i>
  </span>
</div>
<% } %>
