<% if (success && success.length) { %>
  <div class="flash flash-success">
    <span class="flash-text"><%= success[0] %></span>
    <span class="flash-close" onclick="this.parentElement.remove()">✕</span>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div class="flash flash-error">
    <span class="flash-text"><%= error[0] %></span>
    <span class="flash-close" onclick="this.parentElement.remove()">✕</span>
  </div>
<% } %>
