<div class="nav-top-bar d-none d-lg-block">
  <div class="container d-flex justify-content-between align-items-center py-2">
    <div class="d-flex gap-4">
      <small
        ><i class="fa-solid fa-location-dot me-2"></i> BANGLORE, INDIA</small
      >
      <small
        ><i class="fa-solid fa-envelope me-2"></i>SUDEEPKAGI@GMAIL.COM</small
      >
    </div>
    <div class="d-flex gap-4 align-items-center">
      <small><i class="fa-solid fa-phone me-2"></i> +91 95350306xx</small>
      <a href="/listings" class="book-now-btn">BOOK YOUR STAY</a>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg sticky-top luxury-nav">
  <div class="container">
    <a
      class="navbar-brand d-flex flex-column align-items-center mx-auto"
      href="/"
    >
      <img src="/logo/icon.png" alt="Stayora" class="nav-logo" />
      <span class="brand-text">STAYORA</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto align-items-center">
        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/listings">PROPERTIES</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/about">ABOUT</a></li>

        <% if (currUser) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle user-name"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <%= currUser.username.toUpperCase() %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end luxury-dropdown">
            <li>
              <a class="dropdown-item" href="/listings/new">+ ADD PROPERTY</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <form method="GET" action="/logout" class="m-0">
                <button class="dropdown-item" type="submit">LOGOUT</button>
              </form>
            </li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item"><a class="nav-link" href="/signup">SIGNUP</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">LOGIN</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
