<nav class="navbar navbar-expand-lg eco-navbar sticky-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <img src="/logo/icon.png" height="32" alt="Stayora" />
      <span class="brand-text">STAYORA</span>
    </a>

    <!-- Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#ecoNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="ecoNavbar">
      <!-- LEFT LINKS -->
      <ul class="navbar-nav me-4">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Homes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add New</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>

      <!-- ðŸ” SEARCH (CENTER) -->
      <form
        class="d-flex flex-grow-1 mx-lg-4 my-3 my-lg-0"
        role="search"
        action="/listings"
        method="GET"
      >
        <div class="input-group">
          <input
            class="form-control rounded-pill-start"
            type="search"
            name="search"
            placeholder="Search by stay, location or category..."
            value="<%= typeof search !== 'undefined' ? search : '' %>"
          />
          <button class="btn btn-success rounded-pill-end px-4" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>

      <!-- RIGHT AUTH -->
      <ul class="navbar-nav ms-lg-4 align-items-lg-center">
        <% if (!currUser) { %>

        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link btn btn-outline-success rounded-pill px-3 ms-lg-2"
            href="/login"
          >
            Login
          </a>
        </li>

        <% } else { %>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            ðŸ‘‹ <%= currUser.username %>
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item text-danger" href="/logout"> Logout </a>
            </li>
          </ul>
        </li>

        <% } %>
      </ul>
    </div>
  </div>
</nav>
